.Content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:auto;
    width:80%;
    flex-grow: 1;
    box-sizing: border-box;
}

.RepoHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 80vw
}

.RepoGeneralInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:60%
}

.RepoTitle{
    text-align: left;
    width:60%;
    float: left;
}

.RepoProjectDetails{
    text-align: left;
    flex-flow: column;
    width:40%;
    flex-wrap: wrap;
}
.RepoDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    margin: auto;
    align-items: baseline;
    text-align: left;
}

.RepoDetailItem{
    padding-right:10px;
}

.RepoTabs{
    margin-top:3vh;
    width:100%;
}

.RepoTabContent{
    border: 1px solid #dfe2e5;
    border-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-sizing: border-box;
}

@media(max-width:600px){
    .RepoDetails{
        display:none
    }
}