.RepoProjectDetails{
    flex-flow: column;
    flex-wrap: wrap;
}

.RepoDetails{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    text-align: left;
}

.RepoDetailItem{
    padding-right:10px;
}
