.Main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    overflow:auto;
}

.Main .Content{
    margin-top: 100px;
    flex-grow: 1
}

.Header, .Content, .Footer {
    flex-shrink: 0;
}
