.RepoHeader{
    display: flex;
    flex-direction: row;
    width: 80vw
}

.RepoGeneralInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* width:70%; */
    min-width: 56vw;
}

.RepoDetailContainer{
    width:20vw;
    margin-top:10px;
    margin-left: 4vw;
    display:none;
    text-align:left;
}

@media(min-width:768px){
    .RepoDetailContainer{
        display: flex;
    }
}